        
{% extends 'layout.html' %}

{% block head %}
<title>Haven | Creat Agency</title>
{% endblock %}
{% block content %}

        <!--Breadcrumbs start-->
        <div class="breadcrumbs overlay-black">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumbs-title text-center">
                                <h1>CREATE AGENCY</h1>
                            </div>
                            <div class="breadcrumbs-menu">
                                <ul>
                                    <li><a href="index.html">Home /</a></li>
                                    <li>Creat agency</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumbs end-->

        <!--- Creat agency profile start -->
        <div class="creat-agency-page pt-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-12">
                        <form action="#">
                            <div class="creat-agency-profile">
                                <div class="agency-profile-title">
                                    <h5>Create Agency Profile</h5>
                                </div>
                                <div class="creat-agency-form">
                                    <input type="text" placeholder="Agency Title">
                                    <textarea placeholder="Description"></textarea>
                                </div>
                                <div class="contact-information">
                                    <div class="agency-profile-title">
                                        <h6>Contact information</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="contact-information-box left">
                                                <input type="text" placeholder="Address line 1">
                                                <input type="text" placeholder="Address line 2">
                                                <div class="contact-information-bottom">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-6 col-12">
                                                            <div class="input-field">
                                                                <input type="text" placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-12">
                                                            <div class="input-field">
                                                                <input type="text" placeholder="Zip">
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="contact-information-box right">
                                                <input type="text" placeholder="Email">
                                                <input type="text" placeholder="Phone">
                                                <input type="text" placeholder="Website">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-package">
                                    <div class="agency-profile-title">
                                        <h6>Select a Package</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="single-package basic">
                                                <div class="package-title">
                                                    <h4>BASIC</h4>    
                                                </div>
                                                <div class="package-desc">
                                                    <div class="package-fee">
                                                        <h5>Fee $0</h5>
                                                    </div>
                                                    <div class="package-propert-list">
                                                        <ul>
                                                            <li>Property Sumbit 1</li>
                                                            <li>Property Sumbit 2</li>
                                                            <li>Agency Profiles 1</li>
                                                            <li>No Featured Properties</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="package-select">
                                                    <button type="submit">Select</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="single-package silver">
                                                <div class="package-title">
                                                    <h4>SILVER</h4>    
                                                </div>
                                                <div class="package-desc">
                                                    <div class="package-fee">
                                                        <h5>Fee $15</h5>
                                                    </div>
                                                    <div class="package-propert-list">
                                                        <ul>
                                                            <li>Property Sumbit 30</li>
                                                            <li>Agent Profiles 15</li>
                                                            <li>Agent Profiles 10</li>
                                                            <li> Featured Properties</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="package-select">
                                                    <button type="submit">Select</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="single-package gold">
                                                <div class="package-title">
                                                    <h4>gold</h4>    
                                                </div>
                                                <div class="package-desc">
                                                    <div class="package-fee">
                                                        <h5>Fee $28</h5>
                                                    </div>
                                                    <div class="package-propert-list">
                                                        <ul>
                                                            <li>Property Sumbit unlimited</li>
                                                            <li>Agent Profiles unlimited</li>
                                                            <li>Agency Profiles unlimited</li>
                                                            <li>Featured Properties</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="package-select">
                                                    <button type="submit">Select</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- Creat agency profile end -->

        <!--Brand section start-->
        <div class="brand-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="brand-list owl-carousel">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/2.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/3.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/4.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/5.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/2.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/3.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/4.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/5.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Brand section end-->
{% endblock %}