        
{% extends 'layout.html' %}

{% block head %}
<title>Haven | Blog</title>
{% endblock %}
{% block content %}

        <!--Breadcrumbs start-->
        <div class="breadcrumbs overlay-black">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumbs-title text-center">
                                <h1>Blog</h1>
                            </div>
                            <div class="breadcrumbs-menu">
                                <ul>
                                    <li><a href="index.html">Home /</a></li>
                                    <li>BLog</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumbs end-->

        <!--Latest blog start-->
        <div class="blog-pages pt-130">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.3s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/1.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/2.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/3.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.2s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/4.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.2s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/5.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/6.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/7.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.2s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/8.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog mb-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/9.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/10.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.2s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/11.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-blog wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                            <div class="blog-thubmnail">
                                <a href="article.html">
                                    <img src="/static/img/blog/12.jpg" alt="">
                                </a>
                                <div class="blog-post">
                                    <span class="post-day">
                                        20
                                    </span>
                                    <span class="post-month">
                                        March
                                    </span>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <h6><a href="article.html">New Duplex Villa design with Latest Altra Concept</a></h6>
                                <p class="post-content">Haven the best theme for elit, sed do eiusmod tempor dolor sit
                                    amet, conse ctetur adipiscing elit, sed do eismod tempor incididunt </p>
                                <div class="bolg-continue">
                                    <a href="article.html">Continure Reading ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination">
                            <div class="pagination-inner text-center">
                                <ul>
                                    <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="current">1</li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>. . . . . .</li>
                                    <li><a href="#">15</a></li>
                                    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Latest blog end-->

        <!--Brand section start-->
        <div class="brand-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="brand-list owl-carousel">
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/1.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/2.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/3.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/4.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/5.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/1.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/2.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/3.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/4.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/5.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Brand section end-->
{% endblock %}