        
{% extends 'layout.html' %}

{% block head %}
<title>Dream Home</title>
{% endblock %}
{% block content %}

        <!--Breadcrumbs start-->
        <div class="breadcrumbs overlay-black">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumbs-title text-center">
                                <h1>PROPERTIES</h1>
                            </div>
                            <div class="breadcrumbs-menu">
                                <ul>
                                    <li><a href="index.html">Home /</a></li>
                                    <li>PROPERTIES</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumbs end-->

        <!--Feature property section-->
        <div class="feature-property pt-130">
            <div class="container">
                <div class="row">
                    {% for property in properties %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-property mb-40 fadeInUp wow" data-wow-delay="0.2s">
                            
                            <span class="bg-blue">FOR {{property.status}}</span>
                            {% if property.status == "sale" %}
                            <span>FOR {{property.status}}</span>
                            {% endif %}
                            <div class="property-img">
                                <a href="/single-properties/{{property._id}}">
                                    <img src="/static/img/property/{{property.display_pic}}" width="368px" height="287px"  alt="">
                                </a>
                            </div>
                            <div class="property-desc">
                                <div class="property-desc-top">
                                    <h6><a href="/single-properties/{{property._id}}">{{property.title}}</a></h6>
                                    <h4 class="price">Rs {{property.price}}</h4>
                                    <div class="property-location">
                                        <p><img src="/static/img/property/icon-5.png" alt=""> {{property.address | truncate(20) }}</p>
                                        {% if property.floor %}
                                        <p><img src="/static/img/property/stairs.png" alt="">{{property.floor}} floor</p>
                                        {% else %}
                                        <p><img src="/static/img/property/stairs.png" alt="">Not known</p>
                                        {% endif %}                                        
                                        
                                    </div>
                                </div>
                                <div class="property-desc-bottom">
                                    <div class="property-bottom-list">
                                        <ul>
                                            <li>
                                                <img src="/static/img/property/icon-1.png" alt="">
                                                <span>{{property.area}} sqft</span>
                                            </li>
                                            <!-- <li>
                                                <span>{{property.floor}} floor</span>
                                            </li> -->
                                            <li>
                                                <img src="/static/img/property/icon-2.png" alt="">
                                                <span>{{property.bedroom}}</span>
                                            </li>
                                            <li>
                                                <img src="/static/img/property/icon-3.png" alt="">
                                                <span>{{property.bathroom}}</span>
                                            </li>
                                            <li>
                                                <img src="/static/img/property/kitchen.png" alt="">
                                                <span>{{property.kitchen}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination">
                            <div class="pagination-inner text-center">
                                <ul>
                                    <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="current">1</li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>. . . . . .</li>
                                    <li><a href="#">15</a></li>
                                    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Feature property section end-->

        <!--Brand section start-->
        <div class="brand-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="brand-list owl-carousel">
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/1.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/2.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/3.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/4.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/5.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/1.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/2.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/3.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/4.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/5.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Brand section end-->
{% endblock %}