{% extends 'layout.html' %}

{% block head %}
<title>Properties | My Account</title>
{% endblock %}
{% block content %}
<!--Breadcrumbs start-->
<div class="breadcrumbs overlay-black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumbs-title text-center">
                        <h1>My account</h1>
                    </div>
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home /</a></li>
                            <li>My account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumbs end-->

<!--My account start-->
<div class="agent-details-page pt-130">
    <div class="agent-details">
        <div class="container">
            <form action="/edit-account/{{account._id}}" method="post"  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="agent-profile">
                            <div class="single-team">
                                <div class="profile-img">
                                    <img src="/static/img/profile/{{account.profile_pic}}" alt="">
                                </div>
                                <div class="profile_name">
                                    <label for="profile">
                                        <span>Change your image</span> <input name="profile_pic" id="profile"
                                            type="file">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="profile-update">
                            <div class="profile-title">
                                <h5>My profile infomation</h5>
                            </div>
                            <div class="profile-desc">
                                <div class="row profile-top-form">
                                    <div class="col-md-6 col-12">
                                        <div class="input-type">
                                            <label>Your Name</label>
                                            <input type="text" name="name" value="{{account.fullname}}" placeholder="You name here">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-type">
                                            <label>Your Email</label>
                                            <input type="email" name="email" value="{{account.email}}" placeholder="You Email here">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-type">
                                            <label>Your Phone</label>
                                            <input type="number" name="phone" value="{{account.phone}}" placeholder="You Phone here">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row profile-top-form-bottom">
                                    <div class="col-12">
                                        <div class="input-type">
                                            <label>Title</label>
                                            <input type="text" placeholder="You Company Title here">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-type">
                                            <label>About me</label>
                                            <textarea placeholder="Write here"></textarea>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-socail-profile mt-50 ">
                    <div class="col-12">
                        <div class="profile-title">
                            <h5>My social profile</h5>
                        </div>
                    </div>
                </div>
                <div class="row social-form-box">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="input-type">
                            <label>Facebook</label>
                            <input type="text" value="{{account.facebook}}" name="facebook" placeholder="Your facebook url">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="input-type">
                            <label>Instagram</label>
                            <input type="text" value="{{account.instagram}}" name="instagram" placeholder="Your Instagram url">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="input-type">
                            <label>Website</label>
                            <input type="text" value="{{account.website}}" name="website" placeholder="Your Website url">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="update-profile-submit">
                            <button type="submit">Update profile</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row change-password mt-50">
                <div class="col-md-12">
                    <div class="profile-title">
                        
                        <h5>Change password</h5>
                        {% if account.last_password_change %}
                        <p>last changed on {{account.last_password_change}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row change-password">
                <div class="col-12">
                    <form action="/change-password/{{account._id}}" class="form-row gutter-30" method="post">
                        <div class="col-md-4 col-12">
                            <div class="input-type">
                                <label>Old password</label>
                                <input type="password" name="old_password" placeholder="Old password">
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="input-type">
                                <label>New password</label>
                                <input type="password" name="new_password" placeholder="New password">
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="input-type">
                                <label>Confirm password</label>
                                <input type="password" name="confirm_password" placeholder="Confirm password">
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="update-profile-submit">
                                <button type="submit">Update password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                
            <!-- <div class="mt-4 float-right"> -->
            <div class="delete-profile-button float-right">
                <button ><a style="color:white" href="/delete-account/{{account._id}}">Delete Account</a></button>
            </div>
            
            
            
        </div>
    </div>
    
    <!-- My account end-->

</div>
<!--My account end-->

<!--Brand section start-->
<div class="brand-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-list owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/1.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/2.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/3.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/4.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/5.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/1.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/2.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/3.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/4.png" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Brand section end-->
<!-- script for confirmation when deleting account -->
<script LANGUAGE="JavaScript">
    function myFunction() {
        var agree=confirm("Are you sure you want to delete your account permanently?");
        if (agree)
        return true ;
        else
        return false ;
    }
  </script>
{% endblock %}