        
{% extends 'layout.html' %}

{% block head %}
<title>Property</title>
{% endblock %}
{% block content %}

        <!--Breadcrumbs start-->
        <div class="breadcrumbs overlay-black">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumbs-title text-center">
                                <h1>PROPERTIES</h1>
                            </div>
                            <div class="breadcrumbs-menu">
                                <ul>
                                    <li><a href="index.html">Home /</a></li>
                                    <li>properties Sidebar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumbs end-->

        <!--Feature property section-->
        <div class="feature-property properties-list pt-130">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 ">
                        <div class="single-property-details">
                            <div class="single-property-area">
                                <div class="single-property-tab-content tab-content">
                                    {% for i in pics %}
                                    {% if loop.index == 1 %}
                                    <div class="tab-pane fade show active" id="image-{{loop.index}}" role="tabpanel"
                                    aria-labelledby="image-1-tab">
                                    <img src="/static/img/property/{{ i }}" alt="">
                                    </div>
                                    {% else %} 
                                    <div class="tab-pane fade" id="image-{{loop.index}}" role="tabpanel"
                                        aria-labelledby="image-1-tab">
                                        <img src="/static/img/property/{{ i }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="nav single-property-tab-slider owl-carousel indicator-style2 mt-20">
                                    {% for i in pics %}
                                    <div class="nav-item"><a class="nav-link" href="#image-{{loop.index}}" id="image-{{loop.index}}-tab"
                                            data-toggle="tab" role="tab" aria-controls="image-{{loop.index}}"
                                            aria-selected="true"><img src="/static/img/property/{{ i }}"
                                                alt="" /></a></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="single-property-description">
                                <div class="desc-title">
                                    <h4>{{property.title}}</h4>
                                </div>
                            </div>
                            <div class="single-property-description">
                                <div class="desc-title">
                                    <h5>Description</h5>
                                </div>
                                <div class="description-inner">
                                    <p class="text-1"> {{property.desc}}</p>
                                </div>
                            </div>
                            <div class="condition-amenities">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="property-condition">
                                            <div class="condtion-title">
                                                <h5>Condition</h5>
                                            </div>
                                            <div class="property-condition-list">
                                                <ul>
                                                    <li>
                                                        <img src="/static/img/property/icon-6.png" alt="">
                                                        <span>Area {{property.area}} sqft</span>
                                                    </li>
                                                    <li>
                                                        <img src="/static/img/property/icon-7.png" alt="">
                                                        <span>Bedrooms {{property.bedroom}}</span>
                                                    </li>
                                                    <li>
                                                        <img src="/static/img/property/icon-8.png" alt="">
                                                        <span>Bathrooms {{property.bathroom}}</span>
                                                    </li>
                                                    <!-- <li>
                                                        <img src="/static/img/property/icon-9.png" alt="">
                                                        <span>Garage 2</span>
                                                    </li> -->
                                                    <li>
                                                        <img src="/static/img/property/icon-10.png" alt="">
                                                        <span>Kitchen {{property.kitchen}}</span>
                                                    </li>
                                                    <li>
                                                        <span class="price">
                                                            Rs {{property.price}}
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="price">
                                                            {{property.floor}} Floor
                                                        </span>
                                                    </li>
                                                </ul>
                                                <div class="property-location">
                                                    <p><img src="/static/img/property/icon-5.png" alt=""> {{property.address}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="amenities">
                                            <div class="amenities-title">
                                                <h5>Amenities</h5>
                                            </div>
                                            <div class="amenities-list">
                                                <ul>
                                                    <!-- <li><i class="fa fa-check-square-1"></i> <span>Balcony</span></li> -->
                                                    {% if property.balcony == True %}
                                                        <li><i class="fa fa-check-square-o"></i> <span>Balcony</span></li>
                                                    {% else %}
                                                        <li><i class="fa fa-check-square-1"></i> <span>Balcony</span></li>
                                                    {% endif %}
                                                    {% if property.parking == True %}
                                                        <li><i class="fa fa-check-square-o"></i> <span>Parking</span></li>
                                                    {% else %}
                                                        <li><i class="fa fa-check-square-1"></i> <span>Parking</span></li>
                                                    {% endif %}
                                                    {% if property.lift == True %}
                                                        <li><i class="fa fa-check-square-o"></i> <span>Lift</span></li>
                                                    {% else %}
                                                        <li><i class="fa fa-check-square-1"></i> <span>Lift</span></li>
                                                    {% endif %}
                                                    {% if property.pool == True %}
                                                        <li><i class="fa fa-check-square-o"></i> <span>Pool</span></li>
                                                    {% else %}
                                                        <li><i class="fa fa-check-square-1"></i> <span>Pool</span></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="planning">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-12">
                                        <div class="plan-title">
                                            <h5>Floor Plan</h5>
                                        </div>
                                        <div class="plan-map">
                                            <img src="/static/img/property/plan-map.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-12">
                                        <div class="plan-title">
                                            <h5>Video Presentation</h5>
                                        </div>
                                        <div class="vimeo-video">
                                            <div class="embed-responsive embed-responsive-4by3">
                                                <iframe class="embed-responsive-item"
                                                    src="https://player.vimeo.com/video/12690053"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="feedback">
                                <div class="feedback-title">
                                    <h5>{{total_reviews}} Feedback</h5>
                                </div>
                                {% for review in reviews %}
                                <div class="single-feedback mb-35 fix">
                                    <div class="feedback-img">
                                        <img src="/static/img/profile/{{review.profile_pic}}" alt="">
                                    </div>
                                    <div class="feedback-desc">
                                        <div class="feedback-title">
                                            <h6>{{review.name}}</h6>
                                        </div>
                                        <p class="feedback-post">
                                            {{review.time}}
                                        </p>
                                        <p class="review-desc">{{review.feedback}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="leave-review">
                                <div class="review-title">
                                    <h5>Leave a Review</h5>
                                </div>
                                {% if username %}
                                <div class="review-inner">
                                    <form action="/save-review/{{property._id}}", method="post">
                                        <!-- <div class="form-top">
                                            <div class="input-filed">
                                                <input type="text" placeholder="Your name">
                                            </div>
                                            <div class="input-filed">
                                                <input type="text" placeholder="Your Email">
                                            </div>
                                        </div> -->
                                        <div class="form-bottom">
                                            <!-- <div class="input-field">
                                                <input type="text" placeholder="Subject">
                                            </div> -->
                                            <textarea name="review" placeholder="Write here"></textarea>
                                        </div>
                                        <div class="submit-form">
                                            <button type="submit">SUBMIT REVIEW</button>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <div class="review-inner">
                                    <p style="color:red;">You need to sign in first to write a review</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-12">
                        <div class="sidebar right-side">
                            <aside class="single-side-box search-property">
                                <div class="aside-title">
                                    <h5>Search for Property</h5>
                                </div>
                                <div class="find_home-box">
                                    <div class="find_home-box-inner">
                                        <form action="/find-your-dream-home" method="post">
                                            <div class="find-home-cagtegory">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item custom-select ">
                                                            <select class="selectpicker" name="city" title="City"
                                                                data-hide-disabled="true" data-live-search="true">
                                                                <option value="karachi">Karachi</option>
                                                                <option value="islamabad">Islamabad</option>
                                                                <option value="lahore">Lahore</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item custom-select">
                                                            <select class="selectpicker" name="type" title="Type"
                                                                data-hide-disabled="true" data-live-search="true">
                                                                <option value="residential">Residential Property</option>
                                                                <option value="commercial">Commercial Property</option>
                                                                <option value="industrial">Industrial Property</option>
                                                                <option value="vacation">Vacation Property</option>
                                                                <option value="special">Special Purpose Property</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item custom-select">
                                                            <select class="selectpicker" name="status" title="status"
                                                                data-hide-disabled="true" data-live-search="true">
                                                                <option value="sale">sale</option>
                                                                <option value="rent">rent</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item no-caret  custom-select">
                                                            <select class="selectpicker" name="bedroom" title="No. of Beadrooms"
                                                                data-hide-disabled="true">
                                                                <option value="1">1 Bedroom</option>
                                                                <option value="2">2 Bedrooms</option>
                                                                <option value="3">3 Bedrooms</option>
                                                                <option value="4">4 Bedrooms</option>
                                                                <option  value="5">5 Bedrooms</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item no-caret  custom-select">
                                                            <select class="selectpicker" name="bathroom" title="No. of Bathrooms"
                                                                data-hide-disabled="true">
                                                                    <option value="1">1 Bathroom</option>
                                                                    <option value="2">2 Bathrooms</option>
                                                                    <option value="3">3 Bathrooms</option>
                                                                    <option value="4">4 Bathrooms</option>
                                                                    <option value="5">5 Bathrooms</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item no-caret  custom-select">
                                                            <select class="selectpicker" name="kitchen" title="No. of Kitchens"
                                                                data-hide-disabled="true">
                                                                    <option value="1">1 Kitchen</option>
                                                                    <option value="2">2 Kitchen</option>
                                                                    <option value="3">3 Kitchen</option>
                                                                    <option value="4">4 Kitchen</option>
                                                                    <option value="5">5 Kitchen</option>
                                                                    <option value="6">6 Kitchen</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item">
                                                            <input type="text" name="min_area"
                                                                placeholder="Min area (sqft)">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item ">
                                                            <input type="text" name="max_area"
                                                                placeholder="Max area (sqft)">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="find-home-item no-caret  custom-select">
                                                            <select class="selectpicker" name="floor" title="Floor"
                                                                data-hide-disabled="true">
                                                                    <option value="Ground">Ground Floor</option>
                                                                    <option value="1st">First Floor</option>
                                                                    <option value="2nd">Second Floor</option>
                                                                    <option value="3rd">Third Floor</option>
                                                                    <option value="4th">Fourth Floor</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row find-home_bottom">
                                                    <div class="col-12">
                                                        <div class="find-home-item">
                                                            <!-- shop-filter -->
                                                            <div class="shop-filter">
                                                                <div class="price_filter">
                                                                    <div class="price_slider_amount">
                                                                        <input type="submit" value="" />
                                                                        <input type="text" id="amount" name="price"
                                                                            placeholder="Add Your Price" style="width: 100%;"/>
                                                                    </div>
                                                                    <div id="slider-range"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="find-home-item">
                                                            <button type="submit">SEARCH PROPERTY </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </aside>
                            <aside class="single-side-box feature">
                                <div class="aside-title">
                                    <h5>Featured Property</h5>
                                </div>
                                <div class="feature-property">
                                    <div class="row">
                                        {% for property in featured %}
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="single-property">
                                                <div class="property-img">
                                                    <a href="/single-properties/{{property._id}}">
                                                        <img src="/static/img/property/{{property.display_pic}}" alt="">
                                                        <!-- width="368px" height="287px" -->
                                                    </a>
                                                </div>
                                                <div class="property-desc text-center">
                                                    <div class="property-desc-top">
                                                        <h6><a href="/single-properties/{{property._id}}">{{property.title}}</a>
                                                        </h6>
                                                        <h4 class="price">Rs {{property.price}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </aside>
                            <aside class="single-side-box agent">
                                <div class="aside-title">
                                    <h5>Our Agent</h5>
                                </div>
                                <div class="our-agent-sidbar">
                                    <div class="row">
                                        {% for agent in agents %}
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="single-agent">
                                                <div class="agent-img">
                                                    <a href="/agent-details/{{agent._id}}">
                                                        <img src="/static/img/profile/{{agent.profile_pic}}" alt="">
                                                    </a>
                                                </div>
                                                <div class="agent-title">
                                                    <h6><a href="/agent-details/{{agent._id}}">{{agent.name}}</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </aside>
                            <!-- <aside class="single-side-box tags">
                                <div class="aside-title">
                                    <h5>Tags</h5>
                                </div>
                                <div class="our-tag-list">
                                    <ul>
                                        <li><a href="#">Real Estate</a></li>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Appartment</a></li>
                                        <li><a href="#">Duplex villa</a></li>
                                        <li><a href="#">But property</a></li>
                                    </ul>
                                </div>
                            </aside> -->
                            <!-- <aside class="single-side-box video">
                                <div class="aside-title">
                                    <h5>Take a tour</h5>
                                </div>
                                <div class="video-sidebar">
                                    <div class="video-img">
                                        <img src="/static/img/common/video.jpg" alt="">
                                    </div>
                                    <div class="play-button">
                                        <a href="https://youtu.be/vb5KLYAtPIs"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                            </aside> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Feature property section end-->

        <!--Brand section start-->
        <div class="brand-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="brand-list owl-carousel">
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/1.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/2.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/3.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/4.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/5.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/1.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/2.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/3.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/4.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/img/brand/5.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Brand section end-->
{% endblock %}